@model IEnumerable<Employee>

@{
    //if we use _ViewStart.cshtml then no need to specify the layout name on view
    //Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Employee Information";
}

<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        @foreach (var item in Model)
        {
            <div class="card">

                <div class="card-header">
                    <h1>@item.Name</h1>
                </div>

                <div class="card-body text-center">
                    <img class="card-img-top" src="~/Images/image1.jpg" asp-append-version="true" height="50" width="30"/>

                    <h4>Employee ID : @item.Id</h4>
                    <h4>Email : @item.Email</h4>
                    <h4>Department : @item.Department</h4>

                </div>
                <div class="card-footer text-center">
                    @*//Normal tag helper*@
                    <a href="/home/details/@item.Id" class="btn btn-primary">Back</a>
                    @*//mvc html taghelper*@
                    <a href="@Url.Action("details", "Home", new { item.Id })" class="btn btn-primary">Edit</a>
                    <div>@Html.ActionLink("Actionlink","details","Home",new { id = item.Id })</div>
                    @*//server side tag helper*@
                    <a asp-controller="Home" asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">TagHelper</a>
                    <a href="#" class="btn btn-danger">Delete</a>
                </div>
                
            </div>
        }
        </div>
</div>

@section Scripts {
    <script src="~/js/CustomScript.js"></script>
}

<!--<html>
<body>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Department</th>
            </tr>
        </thead>
        @foreach (var item in Model)
                    {
            <tr>
                <td>@item.Name</td>
                <td>@item.Email</td>
                <td>@item.Department</td>
            </tr>
        }

    </table>
</body>
</html>-->
@*@section Scripts {
        <script src="~/js/CustomScript.js"></script>
    }*@
